﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Arrowhead.jpg" alt="Arrowhead Stadium" class="img-responsive" />            
        </div>
        <div class="item">
            <img src="~/images/Faurot Field.jpg" alt="Faurot Field Stadium" class="img-responsive" />            
        </div>
        <div class="item">
            <img src="~/images/Edward Jones Dome.jpg" alt="Edward Jones Dome Stadium" class="img-responsive" />            
        </div>
        <div class="item">
            <img src="~/images/Ohio Stadium.jpg" alt="Ohio Stadium" class="img-responsive" />            
        </div>
        <div class="item">
            <img src="~/images/Los Angeles Memorial Coliseum.jpg" alt="Los Angeles Memorial Coliseum" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/FedExField.jpg" alt="FedExField" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Raymond James Stadium.jpg" alt="Raymond James Stadium" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


