@model DataAddala.Models.FootballStadium

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FootballStadium</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StadiumName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StadiumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surface)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surface)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOpened)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearOpened)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
