@model DataAddala.Models.FootballStadium

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FootballStadium</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StadiumName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StadiumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surface)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surface)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearOpened)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearOpened)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.StadiumID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
<div id="map_canvas" class="col-xs-12" style="min-height: 400px; ">
</div>

@section Scripts{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        <!-- http://dotnetdevtricks.blogspot.com/2012/10/google-map-api-v3-with-mvc4-razor.html -->

        $(document).ready(function () {
            initialize();
        });
        function initialize() {
            var title ='@(Model.StadiumName)';
            var lat = @Model.stadiums[1].Latitude;
            var long = @Model.stadiums[1].Longitude;
            var mapOptions = {
                center: new google.maps.LatLng(lat,long),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);

            var latlng = new google.maps.LatLng(lat, long);
            var marker = new google.maps.Marker({
                position: latlng,
                title:  title,
                map: map,
                draggable: false
            });
        }
    </script>
}