@model IEnumerable<DataAddala.Models.FootballStadium>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StadiumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surface)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOpened)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StadiumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surface)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOpened)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.StadiumID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.StadiumID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.StadiumID">Delete</a>
        </td>
    </tr>
}
</table>
